$color-white: #ffffff;
$color-black: #000000;
$color-black1: #0a0a0a;
$color-grey: #333333;
$color-grey1: #1c1c1c;
$color-grey2: #636569;
$color-grey3: #999999;
$color-grey4: #abacad;
$color-red: #e1251b;