.spo-aboutus {
    &.spo-body {
        background-image: none;
    }

    .spo-banner {
        margin-top: -100px;
        height: 600px;
    }

    .spo-news-tile {
        &:hover {
            .spo-news-tile__title {
                transition: 0.3s;
                color: $color-red !important;
            }
        }
    }
}

@include mobile {
    .spo-aboutus {

        .spo-banner {
            height: 400px;
        }
    }
}