.contact-warp{
    padding: $spacer-6 0;
    .spo-title{
        margin-bottom: $spacer-3;
    }
}
.spo-cnt{
    display: flex;
    justify-content:space-between;
    &-L{
        width: 50%;
        order: 2;
    }
    &-R{
        width:45%;
        order: 1;
    }
    &-address{
        padding: $spacer-3 0 0;
        &-title{
            font-size: 14px;
            font-weight: $font-bold;
            color: $color-white;
            text-transform: uppercase;
        }
        &-text{
            font-size: 14px;
            font-weight: $font-light;
            margin-bottom: $spacer-4;
            color: $color-white;
            text-transform: uppercase;
        }
    }
    // .spo-input__label{
    //     font-weight: $font-light;
    // }
    // .spo-input__text, .spo-dropdown__select{
    //     border-radius: 0;
    //     height: 30px;
    //     min-height: auto;
    // }
    // .spo-dropdown__select{
    //     padding: 0 12px 0 10px;
    // }
    .spo-input{
        width: 100%;
    }
    &-capcha{
        margin-bottom: 24px;
    }
    .spo-selectBox .select-selected{
        color: $color-grey3;
    }
}
@include mobile{
    .spo-cnt{
        flex-direction: column;
        &-L{
            padding-left: 0;
            width:100%;
            order: 1;
            border-bottom: 1px solid #636569;
            margin-bottom: $spacer-5;
            padding-bottom: $spacer-5;
        }
        &-R{
            padding-left: 0;
            width:100%;
            order: 2;
        }
    }
}