.spo-merch-page{
    padding: $spacer-6 0;
    .spo-heading-sub{
        margin-bottom: $spacer-3;
    }
}

@include mobile{
    .spo-merch-page{
        .pd-quick-view{
            .spo-productsView{
                flex-direction: column;
                &__products{
                    width: 100%;
                }
                &__desc{
                    width: 100%;
                    padding:0;
                    padding-top: $spacer-5;
        
                }
            }
        }
    }
    .pd-quick-view{
        .spo-productsView{
            flex-direction: column;
            &__products{
                width: 100%;
            }
            &__desc{
                width: 100%;
                padding: $spacer-4;
                padding-top: $spacer-5;
    
            }
        }
    }
}