.spo-merch{
    &__product{
        position: relative;
        &-tag{
            position: absolute;
            background-color: $color-red;
            color: $color-white;
            font-size: 15px;
            left: 0;
            text-transform: uppercase;
            padding: 3px;
            min-width: 100px;
            justify-content: center;
            align-items: center;
            font-weight: $font-regular;
            display: flex;
        }
    }
    &__quick-view{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index:1;
        align-items: center;
    }
    &__body{
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
    }
    &__title{
        font-size: 15px;
        font-weight: $font-regular;
        margin-bottom: $spacer-3;
        height:35px;
        &-link{
            font-size: 15px;
            font-weight: $font-regular;
            color: $color-white;
            text-decoration: none;
            transition: 0.7s;
            text-transform: uppercase;
            &:hover{
                color: $color-red;
            }
        }
    }
    &__price{
        font-size:15px;
        font-weight: $font-regular;
        color: $color-red;
    }
    
    &-btn{
        font-size: 15px;
        // min-width: 200px;
        display: inline-flex;
        padding: 10px;
        justify-content: center;
    }
    &__L{
        width: 65%;
    }
    &__R{
        width: 35%;
        text-align: right;
    }
    .spo-btn{
        width: 100%;
    }
}
@include mobile {
    .spo-merch{
        &__body{
            flex-direction: column;
        }
        &__title-link{
            font-size: 12px;
        }
        &__L{
            width: 100%;
        }
        &__R{
            width: 100%;
            text-align: left;
            margin-bottom: $spacer-2;
        }
        &__price{
            color: $color-white;
            line-height: 14px;
        }
        &__price-modal{
            color: $color-white;
            font-size: 20px;
            margin-bottom: $spacer-4;
            margin-top: $spacer-1;
            font-weight: 700;
        }
        .spo-btn{
            padding: 8px 10px;
            display: flex;
            justify-content: center;
            align-self: center;
            align-items: center;
            font-size: 14px;
            line-height: 14px;
        }
        &__quick-view{
            width: 25px;
            img{
                width: 100%;
            }
        }
        &__product-tag{
            font-size: 12px;
            padding: 2px;
        }
    }
}