.spo-modal {
    &__dialog {
        max-width:765px;
    }
    &-content {
        border: 0;
        background-color:#000000;
        border-radius: 0;
        border: 1px solid $color-grey;
    }
    &-contentTwo {
        padding: $spacer-4;
    }
    &__close{
        position: absolute;
        right:20px;
        top:20px;
        z-index: 2;
    }
    &__SizeImg{
        max-width: 100%;
        margin-bottom: $spacer-2;
    }
    &__title{
        color:$color-white;
        font-size:25px;
        margin-bottom: $spacer-3;
        text-transform: uppercase;
    }
}
.modal.fade .modal-dialog {-webkit-transform: translate(0,0)scale(0);transform: translate(0,0)scale(0); transition: 0.9s;}
.modal.show .modal-dialog{-webkit-transform: translate(0,0)scale(1);transform: translate(0,0)scale(1); opacity: 1; transition: 0.7s;}
@include mobile {
    .spo-modal{
        &__pdQuickView{
            flex-direction: column;
            &__desc{
                width: 100%;
                padding-left: 0;
                padding-top: 30px;
            }
        }
    }
}