.spo-moduletitle {
    font-size: 25px;
    font-weight: $font-semi-bold;
    color: $color-white;
}

.spo-modulesub {
    font-size: 15px;
    color: $color-white;
    font-weight: $font-light;
}
.spo-pageHeading {
    font-size: 30px;
    font-weight: $font-semi-bold;
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: $spacer-3;
}
.spo-heading-sub {
    font-size: 15px;
    color: $color-white;
    font-weight: $font-light;
}