// .spo-bookride__form-selectwrap 
.spo-selectBox{
    position: relative;

    .spo-bookride__form-select {
       display: none;
    }

    .select-selected {
       display: flex;
       align-items: center;
       color: $color-grey3;
       background-color: $color-black;
       height: 35px;
       width: 100%;
       border-bottom: 2px solid $color-white;

       &.disabled {
          color: $color-grey3;
       }
    }

    .select-selected:after {
       position: absolute;
       content: "";
       top: 14px;
       right: 10px;
       width: 0;
       height: 0;
       border: 6px solid transparent;
       border-color: $color-white transparent transparent transparent;
    }

    .select-selected.select-arrow-active:after {
       border-color: transparent transparent $color-white transparent;
       top: 7px;
    }

    .select-items {
       position: absolute;
       background-color: $color-grey1;
       top: 100%;
       left: 0;
       right: 0;
       z-index: 9999;
    }

    .select-items div {
       cursor: pointer;
       text-align: center;
       color: $color-white;
       padding: $spacer-3 0;
    }

    .select-hide {
       display: none;
    }

    .select-items div:hover,
    .same-as-selected {
       background-color: $color-red;

    }
 }
 .spo-quantily{
   background: none;
   border-bottom: 2px solid #fff;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   color: #ffffff;
   option{
      color:$color-black;
   }
 }